.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  &__todo-list {
    margin: 50px 10px 0 10px;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    gap: 10px;
    overflow: auto;
  }
}
.task-add {
  display: inline-flex;
  margin-top: 60px;
  &__input {
    position: fixed;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    font-family: monospace;
    text-overflow: ellipsis;
    color: var(--foreground);
    &::placeholder {
      font-style: italic;
    }
  }
}
.todo {
  &__item {
    display: inline-flex;
    align-items: center;
  }
  &__time {
    font-size: 12px;
    font-weight: 600;
  }
  &__check,
  &__delete {
    padding: 0;
    font-family: monospace;
    width: 60px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: var(--foreground);
  }
  &__delete:hover {
    color: orangered;
  }
  &__content {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: monospace;
    font-size: 24px;
    width: 100%;
    overflow-wrap: anywhere;
    color: var(--foreground);
  }
}
.popup {
  background-color: var(--background);
  width: fit-content;
  height: fit-content;
  border: 3px dotted;
  box-shadow: 10px 10px 0 black;
  &__text {
    margin: 15px;
    font-size: 24px;
    text-align: center;
  }
}
.page__popup {
  margin: 0 30px 30px 0;
  position: absolute;
  right: 0;
  bottom: 0;
  &_disabled {
    display: none;
  }
  &_enabled {
    display: block;
  }
}