.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__logo {
    display: inline-block;
    padding: 10px;
    width: 50px;
    fill: var(--foreground);
  }
}
.page__nav {
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px dotted;
}
.themes {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  gap: 5px;
  &__radio {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--input-color);
    appearance: none;
    border-radius: 50%;
  }
}