.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  &__todo-list {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100%;
    gap: 10px;
    overflow: auto;
  }
}
.task-add {
  display: inline-flex;
  margin-top: 56px;
  &__input {
    position: fixed;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    font-family: monospace;
    text-overflow: ellipsis;
    color: var(--foreground);
    &::placeholder {
      font-style: italic;
    }
  }
}
.todo {
  &__item {
    display: inline-flex;
    align-items: center;
  }
  &__check,
  &__delete {
    font-family: monospace;
    width: 60px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: var(--foreground);
  }
  &__delete:hover {
    color: orangered;
  }
  &__content {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: monospace;
    font-size: 24px;
    width: fit-content;
    overflow-wrap: anywhere;
    color: var(--foreground);
  }
}