:root {
  --background: #fff;
  --foreground: #000;
}
body {
	background-color: var(--background);
  color: var(--foreground);
}

:root:has(.light:checked) {
  --background: #fff;
  --foreground: #000;
}
:root:has(.dark:checked) {
  --background: #272829;
  --foreground: #d8d9da;
}
:root:has(.mint:checked) {
  --background: #9cdba6;
  --foreground: #468585;
}
:root:has(.sea:checked) {
  --background: #91c8e4;
  --foreground: #4682a9;
}

input[type="radio"]:checked {
  background-color: var(--input-color);
}
input[type="radio"].light {
  --input-color: lightgray;
}
input[type="radio"].dark {
  --input-color: #272829;
}
input[type="radio"].dark:checked {
  --input-color: #d8d9da;
}
input[type="radio"].mint {
  --input-color: #468585;
}
input[type="radio"].sea {
  --input-color: #4682a9;
}