* {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

.page {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease;
}

button,
input {
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-block;
  padding: 10px;
  width: 50px;
  fill: var(--foreground);
}

.page__nav {
  position: fixed;
  left: 0;
  right: 0;
  border-bottom: 1px dotted;
}

.themes {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  gap: 5px;
}
.themes__radio {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--input-color);
  appearance: none;
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.main__todo-list {
  margin: 50px 10px 0 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
  gap: 10px;
  overflow: auto;
}

.task-add {
  display: inline-flex;
  margin-top: 60px;
}
.task-add__input {
  position: fixed;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  font-family: monospace;
  text-overflow: ellipsis;
  color: var(--foreground);
}
.task-add__input::placeholder {
  font-style: italic;
}

.todo__item {
  display: inline-flex;
  align-items: center;
}
.todo__check, .todo__delete {
  padding: 0;
  font-family: monospace;
  width: 60px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: var(--foreground);
}
.todo__delete:hover {
  color: orangered;
}
.todo__content {
  background-color: transparent;
  outline: none;
  border: none;
  font-family: monospace;
  font-size: 24px;
  width: 100%;
  overflow-wrap: anywhere;
  color: var(--foreground);
}

.popup {
  background-color: var(--background);
  width: fit-content;
  height: fit-content;
  border: 3px dotted;
  box-shadow: 10px 10px 0 black;
}
.popup__text {
  margin: 15px;
  font-size: 24px;
  text-align: center;
}

.page__popup {
  margin: 0 30px 30px 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.page__popup_disabled {
  display: none;
}
.page__popup_enabled {
  display: block;
}

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

:root:has(.light:checked) {
  --background: #fff;
  --foreground: #000;
}

:root:has(.dark:checked) {
  --background: #272829;
  --foreground: #d8d9da;
}

:root:has(.mint:checked) {
  --background: #9DF3C4;
  --foreground: #468585;
}

:root:has(.sea:checked) {
  --background: #46b3e6;
  --foreground: #0f4c75;
}

input[type=radio]:checked {
  background-color: var(--input-color);
}

input[type=radio].light {
  --input-color: lightgray;
}

input[type=radio].dark {
  --input-color: #272829;
}

input[type=radio].dark:checked {
  --input-color: #d8d9da;
}

input[type=radio].mint {
  --input-color: #468585;
}

input[type=radio].sea {
  --input-color: #46b3e6;
}

input[type=radio].sea:checked {
  --input-color: #0f4c75;
}

.completed {
  filter: opacity(0.5);
}

.page__popup_alert {
  animation-name: alert;
  animation-duration: 0.3s;
}
@keyframes alert {
  0% {
    right: 0;
    background-color: #c40c0c;
  }
  25% {
    right: 5px;
    background-color: var(--background);
  }
  50% {
    right: -5px;
    background-color: #c40c0c;
  }
  to {
    right: 0;
    background-color: var(--background);
  }
}

/*# sourceMappingURL=styles.css.map */
