.header {
  display: flex;
  justify-content: center;
  &__intro {
    display: inline-block;
    text-align: center;
  }
  &__logo {
    padding: 20px 0;
  }
  &__title {
    margin: 0;
    font-size: 1.2rem;
  }
}
.logo {
  display: inline-block;
  &__logo {
    width: 200px;
  }
}